@font-face {
  font-family: "mono";
  font-weight: 300;
  src: url("https://mdn.alipayobjects.com/huamei_piroyv/afts/file/A*XvJJSIIEDbYAAAAAAAAAAAAADinLAQ/JetBrainsMono-Light.woff2")
    format("woff");
}
@font-face {
  font-family: "mono";
  font-weight: 400;
  src: url("https://mdn.alipayobjects.com/huamei_piroyv/afts/file/A*cCg_QbqN1BAAAAAAAAAAAAAADinLAQ/JetBrainsMono-Regular.woff2")
    format("woff");
}
@font-face {
  font-family: "mono";
  font-weight: 500;
  src: url("https://mdn.alipayobjects.com/huamei_piroyv/afts/file/A*M8hRRpGAU5sAAAAAAAAAAAAADinLAQ/JetBrainsMono-Medium.woff2")
    format("woff");
}